
.orders-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.confirm-btn, .remove-btn{
    border-radius: 20px;
    padding: 5px 10px;
    width: 45%;
}
.confirm-btn{
    background-color: gold;
}
.remove-btn{
    background-color: red;
}
.display-btn{
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 688px) {
    .orders-container{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
 }
 @media only screen and (min-width: 688px) and (max-width: 1024px) {
    .orders-container{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }
 }