input{
    width: 70%;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.form{
    background-color: #a8eeff;
    color:black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.submit-btn{
    width: 20%;
    background-color: gold;
}